<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$block = $objectManager->get('Magento\Catalog\Block\Product\View');
$_product = $block->getProduct();
?>
<form id="oneclickorder-form" action="<?php echo $this->getUrl('oneclickcheckout/index/index')?>" method="post">
	<input type="hidden" name="product_id" value="<?php /* @escapeNotVerified */ echo $_product->getId() ?>" />
	<div class="field review-field-nickname required">
		<label for="nickname_field" class="label"><span><?php /* @escapeNotVerified */ echo __('Name') ?></span></label>
		<div class="control">
			<input type="text" name="name" id="nickname_field" class="input-text" required="required" />
		</div>
	</div>
	<div class="field review-field-phone required">
		<label for="phone_field" class="label"><span><?php /* @escapeNotVerified */ echo __('Phone') ?></span></label>
		<div class="control">
			<input type="text" name="phone_number" id="phone_field" class="input-text" required="required" />
		</div>
	</div>
	<br>
		<button type="submit"
	        title="<?=__('One click order');?>"
	        class="action primary tocart"
	        id="product-oneclickcheckout-button">
		<span><?=__('One click order');?></span>
		</button>
</form>